{% extends 'base.html' %}

{% block content %}

<div class="w-full flex justify-between items-center">
    <p>Click and drag to zoom in. Double click to reset the window. Automatically updates with live data.</p>
    <h2 id="status">Loading page...</h2>
</div>

<div id="graphs"></div>
<script src="{{ url_for('static', filename='utils.js') }}"></script>


<script>
function capitalize(s) {
    // Capitalize the first letter of a string
    return s && String(s[0]).toUpperCase() + String(s).slice(1);
}

function makeChart(data) {
    console.time("chart");

    const cursorOpts = {
        lock: true,
        focus: {
            prox: 16
        }
    }

    const seriesOpts = [{}]
    for (let i = 1; i < data.length; i++) {
        seriesOpts.push({
            label: capitalize(FRIDGES[i - 1][0]),
            stroke: COLOURS[i - 1],
            spanGaps: true,
            scale: "K",
            value: (u, v) => v == null ? '' : v.toFixed(3) + "K"
        });
    }

    const opts_main = {
        title: "Temperatures",
        ...getSize(),
        focus: {
            alpha: 0.3,
        },
        cursor: cursorOpts,
        series: seriesOpts,
        axes: [
            {},
            {
                scale: "K",
                values: (self, ticks) => ticks.map(v => v.toFixed(3) + "K"),
                label: "Temperature (K)"
            }
        ]
    }

    let uplot_main = new uPlot(opts_main, data, document.getElementById("graphs"));

    // Dynamically change the size of the plot when required
    window.addEventListener("resize", function() {
        uplot_main.setSize(getSize());
    });

    console.timeEnd("chart");
}

function go() {
    let status = document.getElementById("status");  // Update this to let the user know the progress
    status.textContent = "Fetching data..."
    fetchFridgesFromAPI(FRIDGES).then(packed => {
        status.textContent = "Data fetched, rendering..."
        let data = prepData(packed);
        makeChart(data);
        status.textContent = "Done!"
    });
}


// Specify graphs to plot.
// Will create one large plot for all the MXC sensors of each fridge
const FRIDGES = [
    ["queenie", "mxc"],
    ["scarlett", "mxc"],
    ["tallulah", "mxc"],
    ["ursula", "mxc"],
    ["venus", "mxc"],
    ["winona", "mxc"]
];
const COLOURS = ["blue", "red", "green", "purple", "orange", "pink"];

go();

</script>

{% endblock %}