{% extends 'base.html' %}

{% block content %}

<div class="w-full flex justify-between items-center">
    <p>Click and drag to zoom in. Double click to reset the window. Automatically updates with live data.</p>
    <h2 id="status">Loading page...</h2>
</div>

<div id="graphs"></div>
<script src="{{ url_for('static', filename='utils.js') }}"></script>


<script>

function setupPlots(num_plots) {
    console.time("chart");
    let data = Array.from({ length: num_plots + 1 }, () => []);

    const cursorOpts = {
        lock: true,
        focus: {
            prox: 16
        }
    }

    const seriesOpts = [{}]
    for (let i = 1; i < data.length; i++) {
        seriesOpts.push({
            label: capitalize(FRIDGES[i - 1][0]),
            stroke: COLOURS[i - 1],
            spanGaps: true,
            value: (u, v) => v == null ? '' : formatNumber(1000*v, dp=1) + " mK"
        });
    }

    const opts_main = {
        title: "Mixing Chamber Temperatures",
        ...getSize(),
        focus: {
            alpha: 0.3,
        },
        cursor: cursorOpts,
        series: seriesOpts,
        scales: {
            y: {
                distr: 3,
                range: [0.001, 1000]
            }
        },
        axes: [
            { grid: {show: true} },
            { grid: {show: false} },
        ],
    }

    let uplot_main = new uPlot(opts_main, data, document.getElementById("graphs"));

    // Dynamically change the size of the plot when required
    window.addEventListener("resize", function() {
        uplot_main.setSize(getSize());
    });

    console.timeEnd("chart");
    return uplot_main
}

function go() {
    let status = document.getElementById("status");  // Update this to let the user know the progress

    status.textContent = "Rendering charts...";
    let plot = setupPlots(FRIDGES.length);

    function refreshData(first_run=false) {
        status.textContent = "Fetching data...";
        fetchFridgesFromAPI("{{ url }}", FRIDGES)
            .then(packed => {
                let data = prepData(packed, FRIDGE_KEYS);

                plot.setData(data, resetScales=first_run);
                status.textContent = "";
            })
            .catch((error) => {
                status.textContent = "Error!";
                console.log(error);
            });
    }

    refreshData(true);
    setInterval(refreshData, 30_000);
}

// Specify graphs to plot.
// Will create one large plot for all the MXC sensors of each fridge
const FRIDGES = [
    ["queenie", "mxc"],
    ["scarlett", "mxc"],
    ["tallulah", "mxc"],
    ["ursula", "mxc"],
    ["venus", "mxc"],
    ["winona", "mxc"]
];

const FRIDGE_KEYS = FRIDGES.map((val) => val[0] + "." + val[1]);
const COLOURS = ["blue", "red", "green", "purple", "orange", "pink"];

go();

</script>
{% endblock %}