{% extends 'base.html' %}

{% block content %}


<div class="w-full flex justify-between items-center">
    <div>
        <p>Click and drag to zoom in. Double click to reset the window. Automatically updates with live data.</p>
    </div>
    <div class="w-1/4">
        <div class="flex justify-between items-center">
            <label for="startTime" class="block text-sm font-medium text-gray-700">Time from:</label>
            <h2 id="status">Loading page</h2>
        </div>
        <input type="datetime-local" id="startTime" class="mt-1 block w-full p-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
    </div>
</div>

<div id="graphs"></div>
<script src="{{ url_for('static', filename='utils.js') }}"></script>

<script>
function capitalize(s) {
    // Capitalize the first letter of a string
    return s && String(s[0]).toUpperCase() + String(s).slice(1);
}

// On the page load, get the last 7 days of data
function setDefaultTimestamps() {
    const now = new Date();
    const sevenDaysAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);

    document.getElementById("startTime").value = sevenDaysAgo.toISOString().slice(0, 16);
}

function getSize(divisor=1.0) {
    let w = document.getElementById("workspace").offsetWidth / divisor;  // Scale everything based on this
    return {
        width: w * 0.97,
        height: w * 0.3
    }
}


function getData(packed) {
    console.time('prep');
    // epoch,t1,t2,t3,t5,t6

    let data = packed;

    console.timeEnd("prep");
    return data;
}

function prepData(packed) {
    // Unpack the data into a form uPlot likes
    let data = [packed["timestamps"]];
    for (let key in packed["readings"]) {
        data.push(packed["readings"][key]);
    }
    console.log(packed);
    console.log(data);
    return data;
}


function makeChart(data) {
    console.time("chart");

    let mooSync = uPlot.sync("moo");


    const matchSyncKeys = (own, ext) => own == ext;

    const cursorOpts = {
        lock: true,
        focus: {
            prox: 16
        },
        sync: {
            key: mooSync.key,
            setSeries: true,
            match: [matchSyncKeys, matchSyncKeys]
        }
    }

    const seriesOpts = [{}]
    for (let i = 1; i < data.length; i++) {
        seriesOpts.push({
            label: capitalize(SENSORS[i - 1]),
            stroke: COLOURS[i - 1],
            spanGaps: true,
            scale: "K",
            value: (u, v) => v == null ? '' : v.toFixed(3) + "K"
        });
    }

    const opts_main = {
        title: "Temperatures",
        ...getSize(),
        focus: {
            alpha: 0.3,
        },
        cursor: cursorOpts,
        series: seriesOpts,
        axes: [
            {},
            {
                scale: "K",
                values: (self, ticks) => ticks.map(v => v.toFixed(3) + "K"),
                label: "Temperature (K)"
            }
        ]
    }

    let uplot_main = new uPlot(opts_main, data, document.getElementById("graphs"));

    let uplots = []

    // For each sensor, create their own subplot
    for (let i = 1; i < data.length; i++) {
        // Plot [data[0] (timestamps), data[i] (sensor data)]
        let opts = {
            title: "Sensor " + SENSORS[i-1],
            ...getSize(2.01),
            focus: {
                alpha: 0.3,
            },
            cursor: cursorOpts,
            series: [
                {},
                {
                    label: capitalize(SENSORS[i-1]),
                    stroke: COLOURS[i-1],
                    spanGaps: true,
                    value: (u, v) => v == null ? '' : v.toFixed(3) + "K",
                    scale: "K"
                }
            ],
            axes: [
                {},
                {
                    scale: "K",
                    values: (self, ticks) => ticks.map(v => v.toFixed(3) + "K"),
                    label: "Temperature (K)"
                }
            ]
        }

        let uplot = new uPlot(opts, [data[0], data[i]], document.getElementById("graphs"));
        uplots.push(uplot);
    }


    // Dynamically update the data when required
    document.getElementById("startTime").addEventListener("change", function() {
        // Update the data if the start time changes
        let status = document.getElementById("status");  // Update this to let the user know the progress
        if (document.getElementById("startTime").value === "") {
            return  // Don't do anything if the start time is empty
        }

        status.textContent = "Fetching data..."
        fetchFromAPI(FRIDGE, SENSORS).then(packed => {
            status.textContent = "Data fetched, rendering..."
            let data = prepData(packed);
            uplot_main.setData(data);
            status.textContent = "Done!"
        });
    });

    // Dynamically change the size of the plot when required
    window.addEventListener("resize", function() {
        uplot_main.setSize(getSize());
        for (let uplot of uplots) {
            uplot.setSize(getSize(2.01));
        }
    });

    // Sync cursors between plots
    //mooSync.sub(uplot1);
    {#mooSync.sub(uplot2);#}
    {#mooSync.sub(uplot3);#}

    console.timeEnd("chart");
}

function go() {
    let status = document.getElementById("status");  // Update this to let the user know the progress
    status.textContent = "Fetching data..."
    fetchFromAPI("{{ url }}", FRIDGE, SENSORS).then(packed => {
        status.textContent = "Data fetched, rendering..."
        let data = prepData(packed);
        makeChart(data);
        status.textContent = "Done!"
    });
}

// Specify graphs to plot.
// Will create one large plot for everything, and then an individual plot for each sensor.
const FRIDGE = "{{ fridge }}";
const SENSORS = ["50K", "4K", "magnet", "still", "mxc"];
const COLOURS = ["blue", "red", "green", "purple", "orange"];


setDefaultTimestamps();
go();

// TODO: Add interval to refresh the data using `uPlot.setData()`

</script>

{% endblock %}