{% extends 'base.html' %}

{% block content %}


<div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <label for="startTime" class="block text-sm font-medium text-gray-700">Start Time:</label>
        <input type="datetime-local" id="startTime" class="mt-1 block w-full p-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
    </div>
</div>

<h2 id="status">Loading page...</h2>

<div id="graphs"></div>
<script src="{{ url_for('static', filename='utils.js') }}"></script>

{#<div class="grid grid-cols-1 md:grid-cols-2 gap-4">#}
{#    <div class="bg-red-500 rounded-lg p-4">Div 1</div>#}
{#    <div class="bg-green-500 rounded-lg p-4">Div 2</div>#}
{#    <div class="bg-blue-500 rounded-lg p-4">Div 3</div>#}
{#    <div class="bg-yellow-500 rounded-lg p-4">Div 4</div>#}
{#</div>#}

<script>

function makeChart(data) {
    console.time("chart");

    let mooSync = uPlot.sync("moo");


    const matchSyncKeys = (own, ext) => own == ext;

    const cursorOpts = {
        lock: true,
        focus: {
            prox: 32
        },
        sync: {
            key: mooSync.key,
            setSeries: true,
            match: [matchSyncKeys, matchSyncKeys]
        }
    }

    const seriesOpts = [{}]
    for (let i = 1; i < data.length; i++) {
        seriesOpts.push({
            label: SENSORS[i - 1],
            stroke: COLOURS[i - 1],
            spanGaps: true,
            scale: "K",
            value: (u, v) => v == null ? '' : v.toFixed(3) + "K"
        });
    }

    const opts_main = {
        title: "Temperatures",
        ...getSize(),
        focus: {
            alpha: 0.3,
        },
        cursor: cursorOpts,
        series: seriesOpts,
        axes: [
            {},
            {
                scale: "K",
                values: (self, ticks) => ticks.map(v => v.toFixed(3) + "K"),
                label: "Temperature (K)"
            }
        ]
    }

    let uplot_main = new uPlot(opts_main, data, document.getElementById("graphs"));

    let uplots = []

    // For each sensor, create their own subplot
    for (let i = 1; i < data.length; i++) {
        // Plot [data[0] (timestamps), data[i] (sensor data)]
        let opts = {
            title: "Sensor " + SENSORS[i-1],
            ...getSize(2.01),
            focus: {
                alpha: 0.3,
            },
            cursor: cursorOpts,
            series: [
                {},
                {
                    label: SENSORS[i-1],
                    stroke: COLOURS[i-1],
                    spanGaps: true,
                    value: (u, v) => v == null ? '' : v.toFixed(3) + "K",
                    scale: "K"
                }
            ],
            axes: [
                {},
                {
                    scale: "K",
                    values: (self, ticks) => ticks.map(v => v.toFixed(3) + "K"),
                    label: "Temperature (K)"
                }
            ]
        }

        let uplot = new uPlot(opts, [data[0], data[i]], document.getElementById("graphs"));
        uplots.push(uplot);
    }


    // Dynamically update the data when required
    document.getElementById("startTime").addEventListener("change", function() {
        // Update the data if the start time changes
        let status = document.getElementById("status");  // Update this to let the user know the progress
        if (document.getElementById("startTime").value === "") {
            return  // Don't do anything if the start time is empty
        }

        status.textContent = "Fetching data..."
        fetchFromAPI(FRIDGE, SENSORS).then(packed => {
            status.textContent = "Data fetched, rendering..."
            let data = prepData(packed);
            uplot_main.setData(data);
            for (let i = 1; i < data.length; i++) {
                uplots[i-1].setData([data[0], data[i]]);
            }
            status.textContent = "Done!"
        });
    });

    // Dynamically change the size of the plot when required
    window.addEventListener("resize", function() {
        uplot_main.setSize(getSize());
        for (let uplot of uplots) {
            uplot.setSize(getSize(2.01));
        }
    });

    // Sync cursors between plots
    //mooSync.sub(uplot1);
    {#mooSync.sub(uplot2);#}
    {#mooSync.sub(uplot3);#}

    console.timeEnd("chart");
}



function go() {
    let status = document.getElementById("status");  // Update this to let the user know the progress
    status.textContent = "Fetching data..."
    fetchFromAPI(FRIDGE, SENSORS).then(packed => {
        status.textContent = "Data fetched, rendering..."
        let data = prepData(packed);
        makeChart(data);
        status.textContent = "Done!"
    });
}

// Specify graphs to plot.
// Will create one large plot for everything, and then an individual plot for each sensor.
const FRIDGE = "fridge1";
const SENSORS = ["s1", "s2", "s3"] //["T1 50K", "T2 4K", "T3 Magnet", "T5 Still", "T6 MXC"];
const COLOURS = ["blue", "red", "green", "purple", "orange"];

// TODO: Make this use uplot1.setData(data); to update the data


setDefaultTimestamps();
go();


</script>

{% endblock %}